.App {
  position: fixed;
  background-color: #FAFAFA;
  min-height: 100vh;
  margin: 0;
  width: 100%;
  overflow: hidden;
  display:block;
  padding-left: 30%;
  align-content: center;
  font-variant: normal;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 1;
}


.slidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  background-color: #FFFFFF;
  box-shadow: -6px 0 20px rgba(0,0,0,0.04);
  z-index: 100;
}
.login-form {
  position: relative;
  z-index: 50;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 5;
}

.login-form input[type="text"], .login-form input[type="password"] {
  width: 30%;
  height: 40px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0);
  border-radius: 8px;
} 
.login-form label {
  font-size:large;
  display: block;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 5px;
}
.login-form button {
  font-family: 'Montserrat', sans-serif;
  width: 30%;
  padding: 12px;
 background: linear-gradient(90deg, #9844ff, #6c80ff);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bolder;
  font-size: medium;
  margin-top: 60px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0);
  text-transform: uppercase;
}
.form-footer p{
  position: relative;
  align-self: center;
  align-content: center;
  margin-left: 160px;
  font-size: medium;
  font-weight:normal;
}
.form-header h1 {
  margin: 0;
  font-size: xx-large;
  font-weight: bold;
  color: #333;
  margin-bottom: 80px;
  font-family: "Comic Sans MS", "Segoe Script", "Brush Script MT", cursive;
}
.bubbles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.bubbles li{
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  box-shadow: inset 0 0 15px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.963);
  border: 2px solid rgb(255, 255, 255);  border-radius: 50%;  animation: rotate 25s linear infinite;
  bottom: -150px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
.bubbles li:nth-child(1){
  left: 10%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: 25s;
}
@keyframes rotate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 50%;
  }
  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
.bubbles li:nth-child(2){
  left: 20%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 15s;
}
.bubbles li:nth-child(3){
  left: 25%;
  width: 60px;
  height: 60px;
  animation-delay: 4s;
  animation-duration: 25s;
}
.bubbles li:nth-child(4){
  left: 40%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.bubbles li:nth-child(5){
  left: 70%;
  width: 80px;
  height: 80px;
  animation-delay: 3s;
  animation-duration: 25s;
}
.bubbles li:nth-child(6){
  left: 80%;
  width: 20px;
  height: 20px;
  animation-delay: 7s;
  animation-duration: 12s;
}
.bubbles li:nth-child(7){
  left: 90%;
  width: 50px;
  height: 50px;
  animation-delay: 15s;
  animation-duration: 25s;
}
.bubbles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 5s;
  animation-duration: 10s;
}
.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(108, 128, 255, 0.4);
}
