.App {
  position: fixed;
  background-color: #FAFAFA;
  min-height: 100vh;
  margin: 0;
  width: 100%;
  overflow: hidden;
  display:block;
  padding-left: 30%;
  align-content: center;
  font-variant: normal;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.slidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  background-color: #FFFFFF;
  box-shadow: -6px 0 20px rgba(0,0,0,0.04);
}
.login-form input[type="text"], .login-form input[type="password"] {
  width: 30%;
  height: 40px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0);
  border-radius: 8px;
} 
.login-form label {
  font-size:large;
  display: block;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 5px;

}
.login-form button {
  width: 30%;
  padding: 12px;
  background: linear-gradient(90deg, #9844ff,#6c80ff);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bolder;
  font-size: medium;
  margin-top: 60px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0);
  button-hover: pointer;
}
.form-footer p{
  position: relative;
  align-self: center;
  align-content: center;
  margin-left: 160px;
  font-size: medium;
  font-weight: bolder;
}
