.login-form {
  position: relative;
  z-index: 50;
  overflow: hidden;
}


.login-form input[type="text"], .login-form input[type="password"] {
  width: 30%;
  height: 40px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.53);
  border-radius: 6px;
  border: 1px solid #ccc;
} 
.login-form label {
  font-size:large;
  display: block;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}
.login-form button {
  font-family: 'Montserrat', sans-serif;
  width: 30%;
  padding: 12px;
  background: linear-gradient(90deg, #9844ff, #6c80ff);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bolder;
  font-size: medium;
  margin-top: 60px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0);
  text-transform: uppercase;
}
.form-footer p{
  position: relative;
  align-self: center;
  align-content: center;
  margin-left: 160px;
  font-size: medium;
  font-weight:bolder;
}
.form-header h1 {
  margin: 0;
  font-size: xx-large;
  font-weight: bold;
  color: #333;
  margin-bottom: 80px;
  font-family: "Comic Sans MS", "Segoe Script", "Brush Script MT", cursive;
}
.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(108, 128, 255, 0.4);
}
