.slidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  max-width: 100%;
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  border: 2px solid #ccc;
  border-radius: 16px;
}
.custom-shape-divider-bottom-1768234483 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 180%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1768234483 svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 160px;
}

.custom-shape-divider-bottom-1768234483 .shape-fill {
    fill: #000000ac;
}

.slidebar-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  z-index: 1;
  
}

.slider-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 101;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  background-color: #9844ff;
  width: 30px;
  border-radius: 5px;
}

.dot:hover {
  background-color: rgba(152, 68, 255, 0.5);
}

.login-form {
  position: fixed;
  top: 80px;
  left: 150px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}


.login-form input[type="text"], .login-form input[type="password"] {
  width: 30%;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #ccc;
} 
.login-form label {
  font-size:large;
  display: block;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}
.login-form button {
  font-family: 'Montserrat', sans-serif;
  width: 30%;
  padding: 12px;
  background: linear-gradient(90deg, #9844ff, #6c80ff);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bolder;
  font-size: medium;
  margin-top: 60px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0);
  text-transform: uppercase;
}
.form-footer p{
  position: absolute;
  align-self:center;
  margin-left: 100px;
  margin-top: 45px;
  font-size: small;
  font-weight:normal;
  display: flex;
  font-weight: bold;
  align-items: center;
}
.form-footer h5{
  color:  #9844ff;
  margin-left: 5px;
  font-size: small;
}
.form-header {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  
}
.form-header h1 {
  font-size: xx-large;
  font-weight: bolder;
  color: #000000;
  font-family: "Comic Sans MS", "Segoe Script", "Brush Script MT", cursive;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.336);
  margin-right: 400px;
  margin-top: auto;
  margin-bottom: 50px;  
}
.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(108, 128, 255, 0.4);
}


