
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}
html,
body {
  width: 100%;
  min-height:100%;
  background: #f4f4f4;
}
.registration-background {
  position: fixed;
  inset: 0;
  z-index: -1;
  background:rgba(225, 225, 225, 0.675);
}
.registration-slidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 520px;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}

.registration-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
}


.registration-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
}


.registration-form {
  position: relative;
  width: 100%;
  max-width: 420px;
  background: #ffffff;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 12px 40px rgb(0, 0, 0);
  align-self: center;
  left: 400px;
  top: 20px;
  font-weight: bolder;
}
.registration-form input[type="text"], .registration-form input[type="email"], .registration-form input[type="password"], .registration-form input[type="tel"], .registration-form select {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: 2px solid #cccccc;
  font-size: 14px;
  outline: none;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  font-weight: bold;
  margin: 5px;
}


.registration-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 16px;
  padding: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  width: 100%;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #444;
  font-weight: bolder;

}

.form-group input {
  width: 80%;
  padding: 12px 14px;
  border-radius: 8px;
  border: 2px solid #ffffff;
  font-size: 14px;
  outline: none;
  display: block;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  font-weight: bold;
}

.form-group input:focus {
  border-color: #4f46e5;
}

.register-btn {
  width: 100%;
  padding: 12px;
  background: #4f46e5;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.register-btn:hover {
  background: #4338ca;
}


@media (max-width: 900px) {
  .registration-slidebar {
    display: none;
  }

  .registration-container {
    padding: 40px 16px;
  }
}
