.custom-shape-divider-bottom-1768300002 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1768300002 svg {
    position: relative;
    display: block;
    width: calc(155% + 1.3px);
    height: 648px;
}

.custom-shape-divider-bottom-1768300002 .shape-fill {
    fill: #9d9d9da5;
}

.form-header{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

@media (max-width: 768px) {
    .custom-shape-divider-bottom-1768300002 {
        position: relative;
        margin-bottom: 20px;
    }

    .custom-shape-divider-bottom-1768300002 svg {
        width: 200%;
        height: 300px;
    }

    .form-header {
        position: relative;
        left: auto;
        transform: none;
        top: auto;
        margin-bottom: 15px;
    }

    .form-header h1 {
        position: fixed;
    }

   .login-form {
    position: absolute;
    width: 90%;
    max-width: 100%;
    margin: 15px auto;
    padding: 15px;
    max-height: 90vh;   /* limits height */
    overflow-y: auto;   /* enables scrollbar */
}


    .form-group input {
        font-size: 16px;
        padding: 10px;
    }

    .login-btn {
        font-size: 14px;
        padding: 10px;
    }
}